# This file is the minimal confuguration file used by Dotenv to define the
# environment variables on localhost.
#
# Instructions:
#   1. copy this file as `.env`
#   2. edit the `.env` file with working values
#   3. uncomment the lines to activate or configure associated features
#
# Sections (displayed in sorted in alphabtic order):
#   - deployement
#
# Line size max: 80 characters.
#

# =======
# DEPLOYEMENT
# =======

# GitHub username
#
# If not present, you cannot create release because it's private repository
# and only collaborators can access to this for get master commit
#
# presence: optionnal
# type: Username
# default: none
GITHUB_USERNAME=

# [GitHub Personal Access Token](https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token)
#
# If not present, you cannot create release because it's private repository
# and only collaborators can access to this for get master commit
#
# presence: required
# type: Token
# default: none
GITHUB_PERSONAL_ACCESS_TOKEN=
